.greet-container {
  padding-top: 10vh;
  max-width: 900px;
  margin: auto;
}
.sub-greet {
  font-size: 2.5rem;
  color: #c4c7c5;
}

.greet {
  margin: 30px 0px;
  font-size: 3.5rem;
  color: #c4c7c5;
  font-weight: 500;
  padding: 20px;
}

.greet span {
  position: relative;
  display: inline-block;
  color: transparent;
  background: rgba(0, 0, 0, 0.648);
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s;
}

.sub-greet .animal-word {
  display: inline-block;
  animation: dropDown 1s forwards;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  padding-right: 5px;
  margin-right: 5px;
}


.icon-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-image {
  width: 65px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.icon-image:hover {
  transform: scale(1.19);
}

.icon-label {
  margin-top: 8px;
  font-size: 0.9rem;
  text-align: center;
}

.main .main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0 20px;
  margin: auto;
}

.main .main-bottom::before {
  content: "";
  position: absolute;
  top: -50px;
  width: 100%;
  height: 100px;
  pointer-events: none;
  z-index: -1;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 60%
  );
}

.main .bottom-info {
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
  font-weight: 300;
}

.main .bottom-info a {
  color: #1f1f1f;
}

.icon-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-image {
  width: 65px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.icon-image:hover {
  transform: scale(1.19);
}

.icon-label {
  margin-top: 8px;
  font-size: 0.9rem;
  text-align: center;
}

.main-bottom {
  margin-top: 20px;
  text-align: center;
}

.bottom-info {
  font-size: 0.9rem;
  color: gray;
}

/* Gradient Animation for "Hello, [User]" */
@keyframes gradient-animation {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 600px) {
  .main-bottom input {
    flex: none;
    width: 150px;
  }

  .main-bottom img {
    width: 20px;
  }

  .greet {
    font-size: 2.75rem;
    margin: auto;
  }

  .bottom-info {
    font-size: 12px;
  }

  .icon-label {
    display: none;
  }
}
