.sidebar {
  min-height: 100vh;
  width: 20%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f4f9;
  padding: 25px 15px;
  transition: width 0.3s ease;
  left: 0px;
  position: relative;
  z-index: 1000;
}

.sidebar img {
  width: 20px;
}

.sidebar .menu {
  width: 45px;
  display: block;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sidebar .menu:hover {
  background-color: #e2e6eb;
  transform: scale(1.1);
}

.sidebar .new-post,
.sidebar .search-posts {
  margin-top: 20px;
  height: 40px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 0px 10px;
  background-color: #dde3ea;
  border-radius: 50px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #444746;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}

.sidebar .new-post:hover,
.sidebar .search-posts:hover {
  background-color: #cfd5db;
  transform: translateX(5px);
}

.sidebar .new-post p,
.sidebar .search-posts p {
  text-wrap: nowrap;
  opacity: 1;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.sidebar.collapsed .new-post p,
.sidebar.collapsed .search-posts p {
  opacity: 0;
  width: 0;
}

.sidebar .new-post img,
.sidebar .search-posts img {
  width: 16px;
  filter: brightness(0);
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease;
}

.sidebar .recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.sidebar .recent-entry {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .recent-entry:hover {
  background-color: #e2e6eb;
  transform: translateX(5px);
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
}

.sidebar .bottom-item {
  padding-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .bottom-item:hover {
  transform: translateX(5px);
}

.sidebar .bottom-item p {
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.sidebar.collapsed .bottom-item p {
  opacity: 0;
  width: 0;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* wildlife institute logo */
.logo img {
  width: 180px;
  height: 52px;
  border-radius: 0;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out;
}
/* Tutorial Backdrop */
.tutorial-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Transparent highlight over the current icon */
.tutorial-highlight {
  position: absolute;
  border-radius: 20px;
  padding: 1px;
  background-color: transparent;
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.5), 0 0 10px rgba(255, 255, 255, 1);
  z-index: 10000;
}

/* Tutorial Content near the icon */
.tutorial-content {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 10001;
}

.tutorial-content p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

/* Tutorial Button */
.tutorial-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.tutorial-btn:hover {
  background-color: #0056b3;
  transform: scale(1.07);
}

.tutorial-btn:active {
  background-color: #004494;
  transform: scale(1);
}

/* Ensure tooltips are above other content */
.__react_component_tooltip {
  z-index: 9999 !important;
}
