.sidebar {
  min-height: 100vh;
  width: 20%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f4f9;
  padding: 25px 15px;
  transition: width 0.3s ease;
  left: 0px;
  position: relative;
  z-index: 1000;
}

.sidebar img {
  width: 20px;
}

.sidebar .menu {
  width: 45px;
  display: block;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sidebar .menu:hover {
  background-color: #e2e6eb;
  transform: scale(1.1);
}

.sidebar .new-post,
.sidebar .view-posts {
  margin-top: 20px;
  height: 40px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 0px 10px;
  background-color: #dde3ea;
  border-radius: 50px;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #444746;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}

.sidebar .new-post:hover,
.sidebar .view-posts:hover {
  background-color: #cfd5db;
  transform: translateX(5px);
}

.sidebar .new-post p,
.sidebar .view-posts p {
  text-wrap: nowrap;
  opacity: 1;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.sidebar.collapsed .new-post p,
.sidebar.collapsed .view-posts p {
  opacity: 0;
  width: 0;
}

.sidebar .new-post img,
.sidebar .view-posts img {
  width: 16px;
  filter: brightness(0);
}

.sidebar .recent {
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease;
}

.sidebar .recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.sidebar .recent-entry {
  display: flex;
  align-items: start;
  gap: 10px;
  padding: 10px;
  padding-right: 40px;
  border-radius: 50px;
  color: #282828;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .recent-entry:hover {
  background-color: #e2e6eb;
  transform: translateX(5px);
}

.sidebar .bottom {
  display: flex;
  flex-direction: column;
}

.sidebar .bottom-item {
  padding-right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .bottom-item:hover {
  transform: translateX(5px);
}

.sidebar .bottom-item p {
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

.sidebar.collapsed .bottom-item p {
  opacity: 0;
  width: 0;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 180px;
  height: 52px;
  border-radius: 0;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}

/* Ensure tooltips are above other content */
.__react_component_tooltip {
  z-index: 9999 !important;
}