.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  margin-inline: 15px;
  padding: 7px 0px;
  color: #5f6368;
  width: 100%;
  position: relative; /* Make the navbar a positioning context */
}

.nav p {
  white-space: nowrap; /* Prevent text from wrapping */
  margin: 0; /* Remove any default margin */
}

.breadcrumbs-container {
  position: absolute;
  left: 50%; /* Position breadcrumbs at the center */
  transform: translateX(-50%); /* Offset the element back by 50% of its width */
  display: flex;
  justify-content: center; /* Center the breadcrumbs text */
  padding: 0 15px; /* Optional padding */
  padding-top: 5px;
  margin: 0px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}

.nav img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out;
}

.nav img:hover {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.065);
}

@media (max-width: 610px) {
  .breadcrumbs-container {
    display: none;
  }
}

@media (max-width: 399px) {
  .nav p {
    display: none;
  }
}
