.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #f0f4f9;
  padding: 4px 20px;
  border-radius: 49px;
}
.search-box span {
  width: 30px;
  height: 48px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box img {
  width: 24px;
  cursor: pointer;
  transition: transform 1s ease;
}
.search-box span:hover {
  background-color: #e2e6eb;
}
.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 16px;
  line-height: 24px;
  font-size: 18px;
}
.search-box div {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

@media (max-width: 600px) {
  .search-box {
    padding: 5px 10px;
  }

  .search-box div {
    gap: 5px;
  }
}
