.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
  width: 95%;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #f0f4f9;
  padding: 0px 20px;
  border-radius: 50px;
  flex-grow: 1;
}

.search-box span {
  width: 30px;
  height: 48px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  padding: 16px;
  line-height: 24px;
  font-size: 18px;
}

.icons-container {
  display: flex;
  gap: 10px;
}

.new-add-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  background-color: #212e38;
  border-radius: 50px;
  padding: 25px;
  gap: 2px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-add-icon:hover {
  background-color: #787b7f;
}

.filter-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Drop Down Filter menus */
.dropdown-menus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease, margin-top 0.5s ease;
}

.dropdown-menus.show {
  max-height: 500px;  
  opacity: 1;
}

.dropdown-menus.hide {
  display: none;
}

.dropdown-menu {
  margin: 0 4px;
  padding: 5px 12px;
  padding-right: 32px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Custom arrow icon */
  background-image: url("../../assets/Arrow.svg");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 10px;
}

.dropdown-menu:focus {
  border-color: #999;
}
.dropdown-menu:hover {
  cursor: pointer;
}

.apply-button {
  margin-left: 50px;
  padding: 5px;
  padding-inline: 20px;
  border-radius: 20px;
  border: none;
  background-color: #212e38;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.apply-button:hover {
    background-color: #787b7f;
}

/* For responsiveness (Keep in order)  */
@media (max-width: 900px) {
  .apply-button{
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .search-container {
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
  }

  .search-box {
    padding: 5px 10px;
  }

  .icons-container {
    justify-content: center;
    gap: 5px;
  }

  .dropdown-menus {
    flex-direction: column;
    align-items: stretch;
  }

  .dropdown-menu {
    margin: 5px 20px;
  }

  .apply-button {
    margin: 10px 20px;
    margin-left: 15px;
  }
}


